* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    word-spacing: 0.05rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 1.5rem;
}


h3 {
    font-size: 1.3rem;
}


h4 {
}

code {
}

p {
    word-spacing: 0.05rem;
    line-height: 1.4rem
}

form {
    font-size: 0.9rem;
}

ul {
}

    ul li {
        margin: 1rem;
    }

ol {
}

    ol li {
    }

a {
    text-decoration: none;
    transition-duration: 0.5s;
}

    a:active, a:hover, a:focus, {
        color: rgb(130,204,221);
        text-decoration: none;
    }

/*right side main part*/
.main {
    padding-left: 3rem; /* Same as the width of the sidenav */
    font-size: 16px; /* Increased text to enable scrolling */
    padding-top: 2rem;
    margin: auto;
    max-width: 80rem;
}

section {
    padding-bottom: 1.5rem;
}

img {
    max-width: 75%;
}

figcaption {
    text-align: center;
    margin: 0 0 0 0;
}

/* STYLEGUIDE */
.styleguide-body {
    padding: 0 8rem 0 8rem;
}

.element {
    padding: 2rem 0 0 0;
    max-width:75rem;
}

.smoothScroll {
    text-decoration: none;
}

.name-text {
    color: rgb(255,255,255);
    margin: 2rem 0 0 0;
}

.name-text:hover {
     color: rgb(130,204,221);
     text-decoration: none;
    }

.workimg {
    display:block;
    margin-left: auto;
    margin-right: auto;

}


.top-title {
    text-align: left;
    width: 100%;
    text-align: center;
    padding: 13rem 0 0 0;
}

.top-background {
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 0 0 11rem 0;
}

.top-background-yoke {
    background: linear-gradient( rgba(25,42,86,0.4), rgba(25,42,86,0.4) ), url("../img/yoke.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    height: 100%;
    width: 100%;
    padding: 0 0 11rem 0;
    animation: fadein 1s;
}

.top-background-solar {
    background: linear-gradient( rgba(25,42,86,0.4), rgba(25,42,86,0.4) ), url("../img/solar-site.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    padding: 0 0 11rem 0;
    animation: fadein 1s;
}

.top-background-ride {
    background: linear-gradient( rgba(25,42,86,0.4), rgba(25,42,86,0.4) ), url("../img/bike.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    height: 100%;
    width: 100%;
    padding: 0 0 11rem 0;
    animation: fadein 1s;
}

.zoom {
    padding: 50px;
    transition: transform 0.5s ease-in-out;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

    .zoom:hover {
        transform: scale(1.1);
    }
/*Zoom image:after *https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_zoom_hover*/



/*Animation Keyframe for Fadein*/
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.name-subtitle {
    margin: 1rem 0 2rem 0;
    color: rgb(255,255,255);
    opacity: 1;
}

/*@media(max-width: 30rem) {
    .name-subtite {
        font-size: 1rem;
    }
}*/

.name-title {
    margin: 1rem 0 1rem 0;
    color: rgb(255,255,255);
    opacity: 0.9;
}

/*@media(max-width: 30rem) {
    .name-title {
        font-size: 3rem;
    }
}*/

.cta-title {
    text-align: center;
    margin: 2rem 0 0 0;
}

.ride-video {
    margin: 1rem 0 1rem 0;
    height: 30rem;
    width: 100%;
    border: 0;
}

/*About Section*/
.about-background {
    background-color: rgb(255,255,255);
    height: 100%;
    width: 100%;
    padding: 0.2rem 0 3rem 0;
}

.about-background-solar {
    background-color: rgb(255,255,255);
    height: 100%;
    width: 100%;
    padding: 1rem 0 2rem 0;
}

.about-background-ride {
    background-color: rgb(255,255,255);
    height: 100%;
    width: 100%;
    padding: 1rem 0 2rem 0;
}

.about-line {
    border: 2px solid rgb(25,42,86);
    opacity: 0.6;
    width: auto;
    margin: 2.5rem 10rem 2.5rem 10rem;
}
.about-title {
    padding: 1.5rem 0 0 10rem;
    color: rgb(0,0,0);
    font-size: 2.2rem;
}



.about-text {
    padding: 0 10rem 0 10rem;
    color: rgb(0,0,0);
    line-height: 1.8rem;
    word-spacing: 0.2rem;
}


.about-info {
    padding: 0 10rem 0 10rem;
    color: rgb(0,0,0);
    line-height: 1.2rem;
    word-spacing: 0.2rem;
}

@media only screen and (max-width: 35.563rem) {
    .name-title {
        font-size: 3rem;
    }
    .codestyle {
        width:18rem;
    }
    .about-line {
        margin: 2.5rem 8rem 2.5rem 3rem;
    }
    .about-title {
        padding: 1.5rem 0 0 2rem;
    }
    .about-text {
        padding: 0 8rem 0 8rem;
    }
    .about-info {
        padding: 0 8rem 0 8rem;
    }
    .workimg {
        padding: 0 2rem 0 0;

    }

 }






/*Project Section*/
.project-background {
    background-color: rgb(255,255,255);
    opacity: 0.9;
    height: 100%;
    width: 100%;
    padding: 1rem 0 0 0;
}

.project-title {
    padding: 1rem 0 0 10rem;
    font-size: 2.2rem;
}

@media(max-width: 84rem) {
    .project-title {
        padding: 1.5rem 0 0 8rem;
    }
}

@media(max-width: 78rem) {
    .project-title {
        padding: 1rem 0 0 5rem;
    }
}

@media(max-width: 50rem) {
    .project-title {
        padding: 1rem 0 0 2rem;
    }
}

.col-container {
    display: flex;
    flex-wrap: wrap;
}

.col-container-solar {
    display: flex;
    flex-wrap: nowrap;
}

@media(max-width: 30rem) {
    .col-container-solar {
        flex-wrap: wrap;
    }
}

.row-2 {
    flex: 0 1 50%;
}

@media(max-width:80rem) {
    .row-2 {
        flex: 0 1 100%;
    }
}

.row-2 img {
    max-width: 100%;
    height: auto;
    display: block;
}

.row-3 {
    flex: 0 1 33%;
    margin: 0 -2rem 1.5rem 0;
}

@media(max-width: 60rem) {
    .row-3 {
        flex: 0 1 100%;
    }
}


/*Contact Section*/
.contact-background {
    background-color: rgb(255,255,255);
    height: 100%;
    width: 100%;
    padding: 2.5rem 0 2rem 0;
}

.contact-title {
    padding: 1rem 0 0 10rem;
    font-size: 2.2rem;
}

@media(max-width: 84rem) {
    .contact-title {
        padding: 0 8rem 0 8rem;
    }
}

@media(max-width: 78rem) {
    .contact-title {
        padding: 1rem 0 0 5rem;
    }
}

@media(max-width: 50rem) {
    .contact-title {
        padding: 1rem 0 0 2rem;
    }
}

.contact-text {
    padding: 1rem 8rem 0 10rem;
}

@media(max-width: 84rem) {
    .contact-text {
        padding: 1rem 8rem 0 8rem;
    }
}

@media(max-width: 78rem) {
    .contact-text {
        padding: 1rem 0 0 5rem;
    }
}

@media(max-width: 65rem) {
    .contact-text {
        padding: 1rem 5rem 0 5rem;
    }
}

@media(max-width: 50rem) {
    .contact-text {
        padding: 1rem 2rem 0 2rem;
    }
}

.col-container-contact {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 0 10rem;
}

@media(max-width: 84rem) {
    .col-container-contact {
        padding: 1rem 8rem 0 8rem;
    }
}

@media(max-width: 78rem) {
    .col-container-contact {
        padding: 1rem 0 0 5rem;
    }
}

@media(max-width: 65rem) {
    .col-container-contact {
        padding: 1rem 5rem 0 5rem;
    }
}

@media(max-width: 50rem) {
    .col-container-contact {
        padding: 1rem 2rem 0 2rem;
    }
}

.solar-site-img {
    display: block;
    margin: 2rem auto 2rem auto;
    width: 50%;
    height: auto;
    animation: fadein 1s;
}

@media(max-width: 65rem) {
    .solar-site-img {
        margin: 1rem auto 1rem auto;
    }
}

@media(max-width: 30rem) {
    .solar-site-img {
        width: 100%;
    }
}

.ride-game-img {
    display: block;
    margin: 4rem auto 4rem auto;
    width: 50%;
    height: auto;
    animation: fadein 1s;
}

@media(max-width: 30rem) {
    .ride-game-img {
        width: 100%;
    }
}


footer {
    background-color: rgb(255,255,255);
    width: 100%;
    height: 100%;
    padding: 2rem 0 2rem 0;
}

.footer-content {
    text-align: center;
    font-size: 0.8rem;
}


.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    padding-right: 1em;
    padding-left: 1em;
}

/* NAVIGATION BAR */

.nav {
    width: 100%;
    /*background-color: rgb(25,42,86);*/
    z-index: 999;
    /*position: sticky;*/
    position: absolute;
    width: 100%;
}

.nav-logo {
    padding: 1.2rem 0 0 4rem;
}

    .nav-logo:hover #kz-logo:nth-of-type(2), .nav-logo:focus #kz-logo:nth-of-type(2) {
        opacity: 1;
    }

    .nav-logo #kz-logo {
        width: 3.6rem;
        margin: 1.3rem 0 0 0;
        transition: opacity 0.4s ease-in-out 0s;
        position: absolute;
    }

        .nav-logo #kz-logo:nth-of-type(1) {
            opacity: 1;
        }

        .nav-logo #kz-logo:nth-of-type(2) {
            opacity: 0;
        }

@media(max-width: 40rem) {
    .nav-logo {
        padding: 1.2rem 0 0 1rem;
    }
}

@media(max-width: 28rem) {
    .nav-logo {
        padding: 1.2rem 0 0 10.2rem;
    }
}


.navigation-bar {
    float: right;
    padding: 2.3rem 4rem 0 0;
}

@media(max-width: 40rem) {
    .navigation-bar {
        padding: 2.3rem 1rem 0 0;
    }
}

@media(max-width: 28rem) {
    .navigation-bar {
        padding: 5rem 1rem 0 0.5rem;
    }
}

.intext-link {
    color: rgb(74,105,189);
    transition-duration: 0.2s;
    text-decoration: none;
}

    .intext-link:hover, .intext-link:active, .intext-link:focus {
        color: rgb(130,204,221);
        text-decoration: none;
    }

button, button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

button {
    background: none;
    border: 0.1rem solid #fff;
    border-radius: 0.2rem;
    font-size: 1.2em;
    color: rgb(255,255,255);
    background-color: rgb(25,42,86);
    text-decoration: none;
    padding: 1.1rem;
    position: relative;
    text-align: center;
    z-index: 1;
}

    button::before,
    button::after {
        background: rgb(255,255,255);
        content: '';
        position: absolute;
        z-index: -1;
    }

    button:hover {
        color: rgb(25,42,86);
        cursor: pointer;
    }

.cta-button {
    overflow: hidden;
}

    .cta-button::after {
        height: 100%;
        left: -55%;
        top: 0;
        transform: skew(50deg);
        transition-duration: 0.6s;
        transform-origin: top left;
        width: 0;
    }

    .cta-button:hover:after {
        height: 100%;
        width: 155%;
    }


.buttonbg {
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    height: 10%;
    width: 90%;
    padding: 1.5rem 0 2rem 0;
}

.navigation-button {
    color: rgb(255,255,255);
    text-decoration: none;
    transition-duration: 0.5s;
    padding: 1.2rem;
    text-align: center;
}

  .navigation-button:hover, .navigation-button:active, .navigation-button:focus {
     color: rgb(255,255,255);
     background-color: rgb(0, 153, 204);
     text-decoration: none;
    }

.submit-button {
    color: rgb(255,255,255);
    background-color: rgb(248,194,145);
    text-decoration: none;
    transition-duration: 0.5s;
    padding: 1rem;
    font-size: 1rem;
}

    .submit-button:hover, .submit-button:active, .submit-button:focus {
        color: rgb(250,211,144);
        background-color: rgb(255,255,255);
        text-decoration: none;
    }

.reset-button {
    color: rgb(255,255,255);
    background-color: rgb(250,211,144);
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 1rem;
    padding: 1rem;
}

    .reset-button:hover, .reset-button:active, .reset-button:focus {
        color: rgb(250,211,144);
        background-color: rgb(255,255,255);
        text-decoration: none;
    }

.text-field {
    border-color: rgb(30,55,153);
    opacity: 0.6;
    padding: 0.3rem;
}

.label-field {
    padding: 1rem;
}

.product-listing {
    width: 10rem;
    height: 7rem;
    border-color: black;
    border-style: solid;
    border-width: 0.2rem;
}

.info-listing {
    float: none;
    margin: 0.1rem;
}
